body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: center;
    padding: 50px 20px;
    border-bottom: 10px solid #000;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

h1 {
    font-size: 64px;
    margin-top: 10px;
    flex: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

h2{
    text-decoration: underline;
}

header img {
    max-height: 100px;
    margin-right: 10px;
}

section {
    display: flex;
    flex-direction: row;
}

.data-section {
    flex: 1;
    text-align: center;
    padding: 20px;
    height: 1000px;
    position: relative;
    border-right: 4px solid #000;
    margin-top: 30px;
}

.data-section:last-child {
    border-right: 0; /* Remove border from the last data section */
}



.disclaimer-section {
    position: fixed;
    bottom: 60px;
    right: 10px;
    background-color: #fff; /* Add background color as needed */
    padding: 10px;
    border: 1px solid #000; /* Add border as needed */
    border-radius: 5px; /* Add border-radius for rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow for a subtle effect */
}

.business{
    background-color: #AF0707; /* Updated color */
    color: #fff;
}

.commercial{
    background-color: #279989;
    color: #fff;
}

.healthAndSafety{
    background-color: #BDDCE6;
    color: #fff;
}


.hr{
    background-color: #22272E;
    color: #fff;
}

.itSystems{
    background-color: #F6A8A8;
    color: #fff;
}

.row {
    width: 100%;
    max-width: 100%;
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: none;
    }
}

@media (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: none;
    }
}

@media (min-width: 768px) {
    .container, .container-md, .container-sm {
        max-width: none;
    }
}

@media (min-width: 576px) {
    .container, .container-sm {
        max-width: none;
    }
}

@keyframes scroll {
    0% {
        transform: translate3d(100%, 0, 0); /* Start just off the right edge */
    }
    100% {
        transform: translate3d(-100%, 0, 0); /* End just off the left edge */
    }
}

@keyframes scroll {
    0% {
        transform: translateX(100vw); /* Start just off the right edge */
    }
    100% {
        transform: translateX(-100%); /* End just off the left edge */
    }
}

footer {
    background-color: #00008b;
    color: #fff;
    text-align: center;
    padding: 0;
    margin-top: auto;
    position: relative;
    height: 60px;
    font-size: 27px;
    width: 100%;
    overflow: hidden;
}

footer p {
    position: absolute;
    white-space: nowrap; /* Prevents text from wrapping to the next line */
    animation: scroll linear infinite;
}


