body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #F6A8A8;
    color: #fff;
    text-align: center;
    padding: 50px 20px;
    border-bottom: 10px solid #000;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

h1 {
    font-size: 64px;
    margin-top: 10px;
    flex: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

header img {
    max-height: 65px;
    margin-right: 10px;
}

section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    flex-direction: row;
}

.data-section {
    flex: 1;
    text-align: center;
    padding: 20px;
    height: 580px;
    position: relative;
}

.data-section:not(:last-child) {
    border-right: 0; /* Set the border-right to 0 to hide the divider */
    height: 580px; /* Adjust the height as needed */
}

footer {
    background-color: #00008b;
    color: #fff;
    text-align: center;
    padding: -1px;
    margin-top: auto;
    position: relative;
}
